* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}


/* navigation bar */

header {
    color: white;
    display: flex;
    height: 600px;
    flex-direction: column;
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

#discord-logo {
    margin-right: 100px;
}

#upper-links>span {
    margin-right: 50px;
}

#upper-links {
    align-items: center;
    display: flex;
    justify-content: center;
}

button {
    border: none;
    padding: 10px;
    border-radius: 25px;
}

#accedi {
    margin-left: 100px;
    font-size: 12px;
    color: black;
    background-color: white;
}


#upper-menu {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


/* big banner */

#where2talk {
    margin-top: 55px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
    align-items: center;
}

#where2talk>p {
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
}

.call-bullets {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#button4mac {
    padding-bottom: 14px;
    padding-top: 12px;
    padding-right: 22px;
    padding-left: 20px;
    font-size: 16px;
    color: black;
    background-color: white;
}

#button4open {
    padding-bottom: 14px;
    padding-top: 14px;
    padding-right: 22px;
    padding-left: 22px;
    font-size: 16px;
    color: white;
    background-color: #23272A;
}

/* section with benefits */


.text-container {
    margin-top: 35px;
    height: 150px;
    width: 350px;
}

.wave {
    fill: #F6F6F6;
    display: block;
}

.wavecapovolta {
    fill: #F6F6F6;
    display: block;
    transform: rotate(180deg);
}

section>div>h2 {
    font-size: 35px;
    line-height: 40px;
}

section>div>p {
    margin-top: 30px;
    line-height: 25px;
}

.image {
    width: 600px;
}

.section-right-text {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;

}

#section-left-text {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

#section-upper-text {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#adventure {
    width: 600px;
    padding-top: 35px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
}

section>div>h3 {
    font-size: 20px;
}

#bigbuttonmac {
    padding-bottom: 14px;
    padding-top: 12px;
    padding-right: 22px;
    padding-left: 20px;
    font-size: 15px;
    margin-top: 30px;
    color: white;
    background-color: #648AE8;
}

/* footer with links */

footer {
    padding-top: 60px;
    padding-left: 200px;
    padding-right: 200px;
    color: #648AE8;
    background-color: #23272A;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#talkbox {
    width: 300px;
}

.smalllogos {
    margin-top: 15px;
    margin-right: 16px;
    fill: white;
    width: 17px;
}

footer>div>h2 {
    font-size: 33px;
}

#itaflag {
    height: 15px;
    margin-right: 5px;
}

footer>div>p {
    font-size: 15px;
    color: white;
    line-height: 30px;
}

#italian {
    font-size: 10px;
    color: white;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

#prova {
    text-align: center;
}

/* hr with last bullets */

#bottom-line {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    background-color: #23272A;
    height: 150px;
    justify-content: space-evenly;
    align-items: flex-start;
}

#horizontalrule {
    background-color: #23272A;
    padding-top: 30px;
}

hr {
    background-color: #23272A;
    margin-left: 325px;
    margin-right: 325px;
    background-color: #648AE8;
    border: none;
    height: 1px;
}

#signup {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 14px;
    padding-left: 14px;
    font-size: 10px;
    color: white;
    background-color: #648AE8;
}

#discordlogo2 {
    width: 100px;
    margin-right: 750px;
}